@import '../constants/colors';
@import '../constants/flexConstans';

.container_color {
    background-color: $borderColor;
    .the-brand {
        height: 613px;
        background-image: url('../img/2_the-brand/the-brand.jpg');
        background-repeat: no-repeat;
        @extend .flexRow;
        justify-content: flex-start;
        .color-line {
            width: 12px;
            height: 95px;
            background-color: $baseBtnColor;
            margin-right: 12px;
        }
        .brand-text {
            height: 100px;
            @extend .flexColumn;
            align-items: flex-start;
            margin-top: -24px;
            h1 {
                color: #222222;
                font-size: 60px;
                font-weight: 700;
                text-transform: uppercase;
            }
            h2 {
                font-size: 40px;
                .brand-h2_color {
                    color: $baseBtnColor;
                }
            }
        }
    }
}