.for {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 1020px;
}

.for-left {
    height: 823px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.for-men {
    background-image: url('../img/3_for/for-men.jpg');
    background-repeat: no-repeat;
    width: 560px;
    height: 542px;
}

.accesories {
    background-image: url('../img/3_for/accesories.jpg');
    background-repeat: no-repeat;
    background-color: #dadad2;
    background-position: top right;
    width: 560px;
    height: 261px;
}

.for-right {
    height: 823px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.for-women {
    background-image: url('../img/3_for/for-women.jpg');
    background-repeat: no-repeat;
    width: 560px;
    height: 261px;
}

.for-kids {
    background-image: url('../img/3_for/for-kids.jpg');
    background-repeat: no-repeat;
    width: 560px;
    height: 542px;
}

.for a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 175px;
    height: 82px;
    background-color: #ffffff;
    font-weight: 700;
    margin-top: 26px;
}

.for a:hover {
    background-color: #d6d6d6;
}

.for_center {
    text-align: left;
}

.for_white-box {
    display: block;
    text-transform: uppercase;
    color: #222222;
    font-size: 18px;
}

.for_color-text {
    display: block;
    text-transform: uppercase;

    color: #f16d7f;
    font-size: 29px;
}

.accesories a {
    width: 225px;
}