.way {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 148px;
}

.way h2 {
    color: #f16d7f;
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
}

.way h3 {
    color: #636363;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
}

.way h3 span {
    color: #f16d7f;
}

main {
    height: 504px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.category {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #222222;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: -0.2px;
    width: 100%;
}

.category div {
    width: 600px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.category h4 {
    width: 110px;
    text-align: right;
}

.clothes-link {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 278px;
}

.clothes-link img {
    width: 100px;
    height: 115px;
}

.clothes-feature {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.clothes-feature div {
    margin-top: 38px;
}

.clothes-feature div p {
    width: 75px;
    height: 20px;
    margin: 0;
    color: #575757;
    font-weight: 400;
    font-size: 13px;
}

.clothes-feature div p span{
    font-weight: 300;
}

.row {
    display: flex;
    justify-content: space-between;
}

.row h4 {
    color: #222222;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: -0.2px;
}

.row__item {
    display: flex;
    align-items: center;
    flex: 4 0 0;
}

.row__item2 {
    flex: 1 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row__item2 a i:hover{
    color: #f16d7f;
}

.row__item2 i {
    height: 15px;
    color: #c0c0c0;
}

.price {
    color: #656565;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
}

.clothes-link a:hover{
    opacity: 0.5;
}

.clothes-link a:active{
    opacity: 0.9;
}