.way {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 148px;
}

.way h2 {
    color: #f16d7f;
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
}

.way h3 {
    color: #636363;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
}

.way h3 span {
    color: #f16d7f;
}

main {
    height: 504px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.category {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #222222;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: -0.2px;
    width: 100%;
}

.category div {
    width: 600px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.category h4 {
    width: 110px;
    text-align: right;
}

.product-feature {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.clothes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 278px;
}

.clothes img {
    width: 100px;
    height: 115px;
}

.unite-price {
    width: 600px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
