@font-face {
  font-family: 'fontAwesome';
  src: url("../fonts/fontawesome-webfont.ttf") format("truetype"), url("../fonts/fontawesome-webfont.woff") format("woff"), url("../fonts/fontawesome-webfont.woff2") format("woff2"); }

@font-face {
  font-family: 'Roboto-Bold';
  src: url("../fonts/Roboto-Bold.ttf"); }

@font-face {
  font-family: 'Roboto-Regular';
  src: url("../fonts/Roboto-Regular.ttf"); }

@font-face {
  font-family: 'Roboto-Light';
  src: url("../fonts/Roboto-Light.ttf"); }

@font-face {
  font-family: 'Roboto-Thin';
  src: url("../fonts/Roboto-Thin.ttf"); }

* {
  margin: 0;
  padding: 0; }

body {
  font-family: 'Roboto-Regular', sans-serif; }

a {
  text-decoration: none; }

button:active,
a:active {
  opacity: 0.8; }

button:focus,
button:active {
  outline: none; }

.container {
  margin: 0 auto;
  width: 1145px; }

.flexRow, .main, .main .main-left, .main .main-left .logo a, .main .main-right, .main .main-right .my_account .my-account-cart .selected-item, .main .main-right .my_account .my-account-cart .total, .menu .menu-woman:hover .menu-drop-down, .for {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }

.flexColumn, .main .main-right .my_account .my-account-cart .selected-item div, .main .main-right .my_account:hover .my-account-cart, .for .for-left, .for .for-right, .fetured-items-conteuner, .fetured-items-conteuner .fetured-items {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; }

.flexColumnJustAround, .sale .sale-right {
  display: flex;
  flex-direction: column;
  justify-content: space-around; }

.flexJustAlignCenter, .for a, .fetured-items-conteuner .all-products, .fetured-items-conteuner .all-products a {
  display: flex;
  justify-content: center;
  align-items: center; }

.main {
  height: 100px;
  border-bottom: 1px solid #e8e8e8; }
  .main .main-left {
    width: 605px; }
    .main .main-left .logo {
      height: 51px;
      width: 165px; }
      .main .main-left .logo a span {
        font-size: 27px;
        font-weight: inherit;
        color: #222222;
        display: inline-block; }
        .main .main-left .logo a span .logo-text_color {
          font-weight: 700;
          color: #f16d7f; }
    .main .main-left .search {
      height: 38px;
      border-radius: 3px;
      font-size: 14px;
      border-radius: 3px;
      border: 1px solid #e6e6e6; }
      .main .main-left .search .browse {
        font-weight: 300;
        color: #222222;
        line-height: 32px;
        height: 38px;
        width: 87px;
        padding: 0px;
        outline: none;
        cursor: pointer;
        position: relative;
        border: none; }
        .main .main-left .search .browse:active {
          background-color: #a4a4a4; }
        .main .main-left .search .browse:hover {
          background-color: #a4a4a4; }
        .main .main-left .search .browse .browsw-nav {
          display: none; }
          .main .main-left .search .browse .browsw-nav a {
            color: #4a4a4a;
            font-size: 14px;
            font-weight: 400;
            line-height: 28px; }
            .main .main-left .search .browse .browsw-nav a:hover {
              color: #a4a4a4; }
          .main .main-left .search .browse .browsw-nav a h3 {
            color: #222222;
            font-size: 14px;
            font-weight: 700;
            line-height: 32px;
            text-transform: uppercase;
            letter-spacing: 0.35px;
            border-bottom: 1px solid #e8e8e8;
            width: 252px;
            text-align: left; }
            .main .main-left .search .browse .browsw-nav a h3:hover {
              color: #f16d7f; }
        .main .main-left .search .browse:hover .browsw-nav {
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          align-items: flex-start;
          padding-left: 10px;
          width: 262px;
          height: 557px;
          background-color: #ffffff;
          border: 1px solid #e8e8e8;
          border-radius: 5px;
          position: absolute;
          left: -1px;
          top: 38px;
          z-index: 999; }
      .main .main-left .search input {
        border: none;
        width: 265px;
        height: 38px;
        padding: 0px 0px 0px 15px;
        border-left: 1px solid #e6e6e6;
        border-right: 1px solid #e6e6e6; }
        .main .main-left .search input:focus {
          outline: none; }
      .main .main-left .search .search_loupe {
        border: none;
        width: 36px;
        height: 38px;
        padding: 0px;
        color: #a4a4a4;
        outline: none;
        cursor: pointer;
        background: none; }
        .main .main-left .search .search_loupe:hover {
          background-color: #a4a4a4; }
        .main .main-left .search .search_loupe:hover i {
          color: #e6e6e6; }
  .main .main-right {
    width: 188px;
    position: relative; }
    .main .main-right .basket i {
      font-size: 34px;
      color: #222222; }
      .main .main-right .basket i:hover {
        cursor: pointer;
        color: #a4a4a4; }
    .main .main-right .my_account {
      width: 130px;
      height: 38px;
      background-color: #f16d7f;
      color: #ffffff;
      font-size: 15px;
      display: flex;
      align-items: center;
      justify-content: center; }
      .main .main-right .my_account a {
        color: #ffffff; }
      .main .main-right .my_account .my-account-cart {
        display: none; }
        .main .main-right .my_account .my-account-cart .selected-item {
          margin-bottom: 21px;
          width: 230px; }
          .main .main-right .my_account .my-account-cart .selected-item div {
            justify-content: space-around;
            height: 85px; }
            .main .main-right .my_account .my-account-cart .selected-item div img {
              width: 72px;
              height: 85px;
              display: block; }
            .main .main-right .my_account .my-account-cart .selected-item div .item-price {
              color: #f16d7f;
              font-size: 12px;
              font-weight: 700;
              text-transform: uppercase; }
            .main .main-right .my_account .my-account-cart .selected-item div .item-name {
              color: #222224;
              font-size: 12px;
              font-weight: 700;
              text-transform: uppercase; }
            .main .main-right .my_account .my-account-cart .selected-item div .item-stars a {
              color: #e4af48;
              font-family: "Font Awesome";
              font-size: 12px;
              font-weight: 400; }
          .main .main-right .my_account .my-account-cart .selected-item .fa-times-circle-o {
            color: #a4a4a4;
            font-size: 16px;
            font-weight: 400; }
            .main .main-right .my_account .my-account-cart .selected-item .fa-times-circle-o:hover {
              color: #f16d7f; }
        .main .main-right .my_account .my-account-cart .total {
          width: 230px;
          color: #222224;
          font-size: 16px;
          font-weight: 700; }
        .main .main-right .my_account .my-account-cart button {
          width: 225px;
          height: 50px;
          background-color: #ffffff;
          font-size: 14px;
          font-weight: 700;
          text-transform: uppercase; }
          .main .main-right .my_account .my-account-cart button:active {
            background-color: #a4a4a4; }
        .main .main-right .my_account .my-account-cart .checkout-btn {
          border: 1px solid #f16d7f;
          color: #f16d7f; }
          .main .main-right .my_account .my-account-cart .checkout-btn:hover {
            background-color: #f16d7f;
            color: #ffffff; }
        .main .main-right .my_account .my-account-cart .go-to-cart-btn {
          border: 1px solid #4a4a4a;
          color: #4a4a4a; }
          .main .main-right .my_account .my-account-cart .go-to-cart-btn:hover {
            background-color: #4a4a4a;
            color: #ffffff; }
      .main .main-right .my_account:hover {
        cursor: pointer;
        background-color: #a4a4a4; }
        .main .main-right .my_account:hover .my-account-cart {
          position: absolute;
          width: 262px;
          height: 440px;
          border: 1px solid #e8e8e8;
          border-radius: 5px;
          background-color: #ffffff;
          top: 38px;
          left: -30px;
          padding: 20px 15px 20px 17px; }

.menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 51px; }
  .menu .menu-section {
    display: flex;
    color: #222224;
    align-items: center;
    font-size: 14px;
    height: 20px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0px 21px; }
    .menu .menu-section:hover {
      opacity: 0.7; }
  .menu .menu-woman a {
    position: relative; }
  .menu .menu-woman:hover .menu-drop-down {
    align-items: flex-start; }
  .menu .menu-woman .menu-drop-down {
    display: none;
    position: absolute;
    width: 846px;
    height: 310px;
    border: 1px solid #e8e8e8;
    border-radius: 5px;
    background-color: #ffffff;
    top: 137px;
    left: 490px;
    padding: 20px 25px; }
    .menu .menu-woman .menu-drop-down .menu-dr-dn-column {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 310px; }
      .menu .menu-woman .menu-drop-down .menu-dr-dn-column h3 {
        border-bottom: 1px solid #e8e8e8; }
        .menu .menu-woman .menu-drop-down .menu-dr-dn-column h3 a {
          color: #222224;
          font-size: 16px;
          font-weight: 700;
          line-height: 32px;
          text-transform: uppercase;
          letter-spacing: 0.35px;
          padding-bottom: 25px; }
          .menu .menu-woman .menu-drop-down .menu-dr-dn-column h3 a:hover {
            color: #f16d7f;
            opacity: 1; }
          .menu .menu-woman .menu-drop-down .menu-dr-dn-column h3 a:active {
            color: #222224; }
      .menu .menu-woman .menu-drop-down .menu-dr-dn-column a {
        width: 255px;
        color: #9f9f9f;
        font-size: 14px;
        font-weight: 700;
        line-height: 28px;
        letter-spacing: 0.35px; }
        .menu .menu-woman .menu-drop-down .menu-dr-dn-column a:hover {
          opacity: 0.7; }
        .menu .menu-woman .menu-drop-down .menu-dr-dn-column a:active {
          color: #222224; }

.container_color {
  background-color: #e8e8e8; }
  .container_color .the-brand {
    height: 613px;
    background-image: url("../img/2_the-brand/the-brand.jpg");
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center; }
    .container_color .the-brand .color-line {
      width: 12px;
      height: 95px;
      background-color: #f16d7f;
      margin-right: 12px; }
    .container_color .the-brand .brand-text {
      height: 100px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      margin-top: -24px; }
      .container_color .the-brand .brand-text h1 {
        color: #222224;
        font-size: 60px;
        font-weight: 700;
        text-transform: uppercase; }
      .container_color .the-brand .brand-text h2 {
        font-size: 40px; }
        .container_color .the-brand .brand-text h2 .brand-h2_color {
          color: #f16d7f; }

.flexRow, .main, .main .main-left, .main .main-left .logo a, .main .main-right, .main .main-right .my_account .my-account-cart .selected-item, .main .main-right .my_account .my-account-cart .total, .menu .menu-woman:hover .menu-drop-down, .for {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }

.flexColumn, .main .main-right .my_account .my-account-cart .selected-item div, .main .main-right .my_account:hover .my-account-cart, .for .for-left, .for .for-right, .fetured-items-conteuner, .fetured-items-conteuner .fetured-items {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; }

.flexColumnJustAround, .sale .sale-right {
  display: flex;
  flex-direction: column;
  justify-content: space-around; }

.flexJustAlignCenter, .for a, .fetured-items-conteuner .all-products, .fetured-items-conteuner .all-products a {
  display: flex;
  justify-content: center;
  align-items: center; }

.for {
  height: 1020px; }
  .for a {
    flex-direction: column;
    width: 175px;
    height: 82px;
    background-color: #ffffff;
    font-weight: 700;
    margin-top: 26px; }
    .for a:hover {
      box-shadow: 5px 0px 8px 1px rgba(0, 0, 0, 0.5); }
    .for a .for_center {
      text-align: left; }
      .for a .for_center .for_white-box {
        display: block;
        text-transform: uppercase;
        color: #222222;
        font-size: 18px; }
      .for a .for_center .for_color-text {
        display: block;
        text-transform: uppercase;
        color: #f16d7f;
        font-size: 29px; }
  .for .for-left {
    height: 823px; }
    .for .for-left .for-men {
      background-image: url("../img/3_for/for-men.jpg");
      background-repeat: no-repeat;
      width: 560px;
      height: 542px; }
    .for .for-left .accesories {
      background-image: url("../img/3_for/accesories.jpg");
      background-repeat: no-repeat;
      background-color: #dadad2;
      background-position: top right;
      width: 560px;
      height: 261px; }
      .for .for-left .accesories a {
        width: 225px; }
  .for .for-right {
    height: 823px; }
    .for .for-right .for-women {
      background-image: url("../img/3_for/for-women.jpg");
      background-repeat: no-repeat;
      width: 560px;
      height: 261px; }
    .for .for-right .for-kids {
      background-image: url("../img/3_for/for-kids.jpg");
      background-repeat: no-repeat;
      width: 560px;
      height: 542px; }

.flexRow, .main, .main .main-left, .main .main-left .logo a, .main .main-right, .main .main-right .my_account .my-account-cart .selected-item, .main .main-right .my_account .my-account-cart .total, .menu .menu-woman:hover .menu-drop-down, .for {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }

.flexColumn, .main .main-right .my_account .my-account-cart .selected-item div, .main .main-right .my_account:hover .my-account-cart, .for .for-left, .for .for-right, .fetured-items-conteuner, .fetured-items-conteuner .fetured-items {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; }

.flexColumnJustAround, .sale .sale-right {
  display: flex;
  flex-direction: column;
  justify-content: space-around; }

.flexJustAlignCenter, .for a, .fetured-items-conteuner .all-products, .fetured-items-conteuner .all-products a {
  display: flex;
  justify-content: center;
  align-items: center; }

.fetured-items-conteuner {
  margin-bottom: 113px; }
  .fetured-items-conteuner .fetured-items {
    height: 51px;
    margin-bottom: 60px; }
    .fetured-items-conteuner .fetured-items h3 {
      color: #222224;
      font-size: 30px;
      font-weight: 700; }
    .fetured-items-conteuner .fetured-items p {
      color: #9f9f9f;
      font-size: 14px;
      font-weight: 400; }
  .fetured-items-conteuner .ftr-product {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    margin-bottom: 80px; }
    .fetured-items-conteuner .ftr-product .clothes {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-top: 20px; }
      .fetured-items-conteuner .ftr-product .clothes a {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 279px;
        width: 263px;
        text-transform: uppercase; }
        .fetured-items-conteuner .ftr-product .clothes a img {
          display: block;
          z-index: 0;
          width: 261px;
          height: 279px; }
        .fetured-items-conteuner .ftr-product .clothes a .ftr-product_hover {
          position: absolute;
          display: none;
          width: 263px;
          height: 281px;
          background-color: #4a4a4a;
          color: #ffffff;
          font-size: 13px;
          font-weight: 400;
          opacity: 0.8; }
          .fetured-items-conteuner .ftr-product .clothes a .ftr-product_hover p {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 123px;
            height: 37px;
            border: 1px solid #ffffff;
            text-transform: lowercase; }
            .fetured-items-conteuner .ftr-product .clothes a .ftr-product_hover p:hover {
              background-color: #e6e6e6;
              color: #4a4a4a; }
      .fetured-items-conteuner .ftr-product .clothes .clothers-p .ftr-name {
        color: #222222;
        font-size: 13px;
        margin-top: 19px; }
      .fetured-items-conteuner .ftr-product .clothes .clothers-p .ftr-price {
        color: #f16d7f;
        font-size: 16px; }
      .fetured-items-conteuner .ftr-product .clothes p {
        font-weight: 700;
        margin-bottom: 20px;
        margin-left: 15px; }
      .fetured-items-conteuner .ftr-product .clothes:hover .ftr-product_hover {
        display: flex;
        align-items: center;
        justify-content: center; }
      .fetured-items-conteuner .ftr-product .clothes:hover .clothers-p {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }
  .fetured-items-conteuner .all-products a {
    width: 212px;
    height: 48px;
    background-color: #f16d7f;
    color: #ffffff;
    font-size: 15px;
    font-weight: 400; }
    .fetured-items-conteuner .all-products a:hover {
      background-color: #c7c7c7; }

.flexRow, .main, .main .main-left, .main .main-left .logo a, .main .main-right, .main .main-right .my_account .my-account-cart .selected-item, .main .main-right .my_account .my-account-cart .total, .menu .menu-woman:hover .menu-drop-down, .for {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }

.flexColumn, .main .main-right .my_account .my-account-cart .selected-item div, .main .main-right .my_account:hover .my-account-cart, .for .for-left, .for .for-right, .fetured-items-conteuner, .fetured-items-conteuner .fetured-items {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; }

.flexColumnJustAround, .sale .sale-right {
  display: flex;
  flex-direction: column;
  justify-content: space-around; }

.flexJustAlignCenter, .for a, .fetured-items-conteuner .all-products, .fetured-items-conteuner .all-products a {
  display: flex;
  justify-content: center;
  align-items: center; }

.sale {
  display: flex;
  flex-direction: row;
  background-color: #222224;
  height: 529px;
  margin-bottom: 97px; }
  .sale .sale-left {
    background-image: url("../img/5_sale/sale.jpg");
    background-repeat: no-repeat;
    width: 727px;
    height: 383px;
    color: #ffffff;
    padding-top: 146px;
    padding-left: 40px; }
    .sale .sale-left h2 {
      font-size: 54px;
      font-weight: 700;
      text-transform: uppercase; }
      .sale .sale-left h2 .sale-left_color {
        color: #f16d7f; }
    .sale .sale-left h3 {
      font-size: 32px; }
  .sale .sale-right {
    align-items: center;
    width: 373px;
    color: #fbfbfb; }
    .sale .sale-right .sale-plus {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      width: 373px; }
      .sale .sale-right .sale-plus:nth-child(1) img {
        width: 45px;
        height: 32px; }
      .sale .sale-right .sale-plus:nth-child(2) img {
        width: 40px;
        height: 40px; }
      .sale .sale-right .sale-plus:nth-child(3) img {
        width: 47px;
        height: 35px; }
      .sale .sale-right .sale-plus .sale-plus-text {
        width: 220px;
        display: flex;
        flex-direction: column; }
        .sale .sale-right .sale-plus .sale-plus-text a {
          font-size: 20px;
          font-weight: 700;
          padding-bottom: 17px;
          cursor: pointer; }
          .sale .sale-right .sale-plus .sale-plus-text a:hover {
            color: #f16d7f; }
        .sale .sale-right .sale-plus .sale-plus-text p {
          font-size: 14px;
          font-family: 'Roboto-Thin';
          line-height: 20px;
          color: #ffffff; }

.subscribe {
  background-image: url("../img/6_subscribe/subscribe.jpg");
  background-repeat: no-repeat; }

.sbsc-content {
  height: 438px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; }

.sbsc-left {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: 536px; }

.sbsc-text {
  width: 396px;
  color: #222224;
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 19px; }

.sbsc-name {
  color: #f16d7f;
  font-size: 16px;
  font-weight: 700;
  line-height: 26px; }

.sbsc-sec-name {
  color: #222224;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0.3px;
  line-height: 14px; }

.sbsc-line-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  width: 89px;
  height: 45px; }

.sbcs-line-left {
  width: 38px;
  height: 4px;
  background-color: #d6d6d6; }

.sbcs-line-left:hover {
  background-color: #f16d7f; }

.sbcs-line-right {
  width: 38px;
  height: 4px;
  background-color: #f16d7f; }

.sbcs-line-right:hover {
  background-color: #d6d6d6; }

.sbsc-right h3 {
  color: #222224;
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  line-height: 54px; }

.sbsc-right h4 {
  font-weight: 300;
  letter-spacing: 0.35px;
  margin-bottom: 35px;
  text-align: center; }

.sbsc-right input {
  width: 282px;
  border: none;
  height: 46px;
  border-radius: 50px 0px 0px 50px;
  background-color: #e1e1e1;
  padding-left: 28px; }

.sbsc-right input:focus {
  outline: none; }

.sbsc-right button {
  width: 104px;
  border: none;
  height: 46px;
  border-radius: 0px 50px 50px 0px;
  background-color: #f16d7f;
  color: #ffffff; }

.sbsc-right button:focus {
  outline: none; }

.sbsc-right button:hover {
  background-color: #c7c7c7; }

.about-us {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 260px;
  margin-top: 109px;
  margin-bottom: 89px; }

.about-us-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 446px;
  letter-spacing: 0.35px; }

.about-us-text p {
  color: #898989;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.35px; }

.nav-about-us {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 608px; }

.about-us-company,
.about-us-information,
.about-us-shop-category {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.about-us-company h3 a,
.about-us-information h3 a,
.about-us-shop-category h3 a {
  color: #f16d7f;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.45px; }

.about-us-company h3 a:hover,
.about-us-information h3 a:hover,
.about-us-shop-category h3 a:hover {
  color: #9f9f9f; }

.about-us-company a,
.about-us-information a,
.about-us-shop-category a {
  color: #898989;
  font-size: 16px;
  font-weight: 400; }

.about-us-company a:hover,
.about-us-information a:hover,
.about-us-shop-category a:hover {
  color: #f16d7f; }

footer {
  height: 79px;
  background-color: #e6e6e6; }

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 79px; }

.footer p a {
  color: #7a7a7a;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.4px; }

.footer p a:hover {
  color: #3e3e40; }

.footer-link {
  width: 191px;
  height: 32px;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.footer-link a {
  height: 16px;
  color: #b2b2b2;
  font-size: 16px;
  font-weight: 400; }

.footer-link a i {
  width: 32px;
  height: 25px;
  background-color: #ffffff;
  text-align: center;
  padding-top: 8px; }

.footer-link a i:hover {
  color: #ffffff;
  background-color: #f16d7f; }
