$baseBtnColor: #f16d7f;
$moreBtnColor: #f6f6f6;
$baseTextColor: #222222;
$moreTextColor: #9f9f9f;
$lightTextColor: #fbfbfb;
$darkBckgColor: #222224;
$lightBckgColor: #ffffff;
$baseFooterColor: #e6e6e6;
$borderColor: #e8e8e8;